nav.site-nav.scrollspy-nav
    a.site-logo(href=baseURL+"/") 
        img(src=baseURL+"img/logo-dikaseva.svg", alt="Logo Dika Soul Seva")

    ul.site-menu.d-flex.align-items-center.flex-row-reverse
        li.is-active
            a.d-flex.align-items-center(href=baseURL+"#home") Home
        
        li
            a.d-flex.align-items-center(href=baseURL+"#about") About 

        li
            a.d-flex.align-items-center(href=baseURL+"#skills") Skills

        li
            a.d-flex.align-items-center(href=baseURL+"#works") Works

        li
            a.d-flex.align-items-center(href=baseURL+"#photography") Photography